.box {
  background: black;
  border-radius: 10px;
  height: 300px;
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  overflow: hidden;
}

.textBox {
  width: 500px;
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.detailsBox {
  width: 500px;
  text-align: left;
  padding: 10px;
}

.title {
  color: white;
  font-family: Arial;
  font-style: italic;
  font-size: 30px;
}

.text {
  color: white;
  font-family: Arial;
  font-size: 20px;
  font-style: italic;
  margin-top: 20px;
}

.tags {
  color: white;
  font-family: Arial;
  font-size: 15px;
  font-style: normal;
  margin-top: 20px;
}

.ingredients {
  color: white;
  font-family: Arial;
  font-size: 15px;
  font-style: normal;
}

.image {
  width: 300px;
  height: 300px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding: 20px;
}

.linkContainer {
  display: flex;
  padding: 20px;
}

.link {
  background: linear-gradient(to left top, black, #4e2d69) fixed;
  border-radius: 10px;
  border: 5px solid rgba(255, 255, 255, 0.2);
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}

.link:hover {
  background: linear-gradient(to left top, black, #773fa5) fixed;
}

.Button {
  background: linear-gradient(to left top, black, #4e2d69) fixed;
  border-radius: 10px;
  border: 5px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

.Button:hover {
  background: linear-gradient(to left top, black, #773fa5) fixed;
}

.ButtonImg {
  height: 25px;
  width: 25px;
}

.FavouritePadding {
  padding: 20px;
}
