.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.previewImage {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.imageCurrent {
  max-height: 500px;
  max-width: 1000px;
  width: 100%;
  height: 100%;
}

.deleteImage {
  cursor: pointer;
  padding: 15px;
}

.customFileInput::-webkit-file-upload-button {
  visibility: hidden;
}
.customFileInput::before {
  content: "Select image";
  display: inline-block;
  background: linear-gradient(to left top, #000, #4e2d69) fixed;
  border-radius: 10px;
  border: 5px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.8);
  padding: 5px 8px;
  outline: none;
  /* white-space: nowrap; */
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}
.customFileInput:hover::before {
  background: linear-gradient(to left top, #000, #8b5db0) fixed;
}
.customFileInput:active::before {
  background: linear-gradient(to left top, #8b5db0, #000) fixed;
}
