.background {
  position: relative;
  width: 100%;
  height: calc(100% - 120px);
  background: gray;
  background-size: cover;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputLogin {
  width: 300px;
  height: 30px;
  position: relative;
  display: block;
  margin: 50px auto;
  text-align: center;
}

.inputPassword {
  width: 300px;
  height: 30px;
  position: relative;
  display: block;
  margin: 50px auto;
  text-align: center;
}

.loginButton {
  width: 100px;
  height: 25px;
  background: linear-gradient(to left top, #333, #666) fixed;
  position: relative;
  display: block;
  margin: auto;
}

.loginForm {
  padding: 50px;
}
