.Ainsley {
  background-image: url("https://vistapointe.net/images/ainsley-harriott-10.jpg");
  background-size: cover;
  background-position: "center";
  height: 89.4vh;
  margin-top: 0px;
  background-repeat: no-repeat;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.field_input {
  width: 400px;
  padding: 10px;
  font-size: 18px;
  outline: none;
  background: linear-gradient(to left top, #000, #22132e) fixed;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.5s;
}

.search {
  width: 80px;
  margin-left: 10px;
  font-size: 18px;
  background: linear-gradient(to left top, #333, #666) fixed;
}
