.header {
  background: black;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px;
  height: 100px;
}

.title {
  color: white;
}

.links {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 20px;
}

.links a {
  color: white;
  text-decoration: none;
  margin: 2.5px 0px;
}
