.container {
  width: 100%;
  height: calc(100% - 120px);
  background: gray;
  background-size: cover;
  overflow: auto;
  display: flex;
}

.title {
  padding: 20px;
  color: white;
  font-family: Arial;
  font-style: italic;
  font-size: 30px;
  align-items: center;
}

.text {
  color: white;
  font-family: Arial;
  font-size: 20px;
  font-style: italic;
}

.tags {
  color: white;
  font-family: Arial;
  font-size: 15px;
  font-style: normal;
}

.ingredients {
  color: white;
  font-family: Arial;
  font-size: 15px;
  font-style: normal;
}

.link {
  color: blue;
  font-family: Arial;
  font-size: 15px;
  font-style: normal;
}

.instructions {
  color: white;
  font-family: Arial;
  font-size: 15px;
  font-style: normal;
}

.image {
  width: 600px;
}

.imagePosition {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: auto;
}

.subContainer {
  padding: 20px;
}

.buttonContainer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.DeleteButton {
  width: 80px;
  background: linear-gradient(to left top, #000, #4e2d69) fixed;
  border-radius: 10px;
  border: 5px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

.EditButton {
  width: 80px;
  background: linear-gradient(to left top, #000, #4e2d69) fixed;
  border-radius: 10px;
  border: 5px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

.GoBackContainer {
  padding: 20px;
}

.GoBackButton {
  background: linear-gradient(to left top, #000, #4e2d69) fixed;
  border-radius: 10px;
  border: 5px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

.FavouriteButtonImg {
  height: 25px;
  width: 25px;
}

.FavouriteButton {
  background: linear-gradient(to left top, #000, #4e2d69) fixed;
  border-radius: 10px;
  border: 5px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

.FavouriteButton:hover {
  background: linear-gradient(to left top, black, #773fa5) fixed;
}
