.field_container {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.field_input {
  width: 400px;
  padding: 10px;
  font-size: 18px;
  outline: none;
  background: linear-gradient(to left top, #000, #22132e) fixed;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.5s;
  margin-top: 5px;
  margin-bottom: 5px;
}

.field_input:hover {
  border: 2px solid rgba(255, 255, 255, 0.5);
}
.field_input:focus {
  border: 2px solid rgba(255, 255, 255, 0.5);
  background: linear-gradient(to left top, #000, #4e2d69) fixed;
}
