.background {
  position: relative;
  width: 100%;
  height: calc(100% - 120px);
  background: gray;
  background-size: cover;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
